<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Методы</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="js/vue.js"></script>
  </head>
  <body>
    <div class="container mt-3">
      <div class="sample">
        <h2>Cake builder</h2>
        <hr />
        <button type="button" class="btn btn-primary" @click="addLayer">
          Add layer
        </button>
        <hr />
        <div class="row">
          <div class="col col-sm-6">
            <div class="cake" v-for="layer,i in layers">
              <div
                class="layer"
                :class="'layer-' + layer.type"
                :style="{ height: layer.height * 10 + 'px' }"
                @click="layer.height++"
                @contextmenu.prevent="layer.height = layer.height > 1 ? layer.height - 1 : layer.height"
              >
                <!--каждый сантиметр торта пусть будет 10px-->
                <!--@contextmenu.prevent: Это директива Vue.js, которая привязывает обработчик события к событию contextmenu (контекстное меню). Модификатор .prevent предотвращает стандартное поведение браузера, то есть открытие контекстного меню.-->
              </div>
            </div>
          </div>
          <div class="col col-sm-6">
            <table class="table table-bordered" v-show="hasLayers">
              <tr>
                <th>Type</th>
                <th>Height</th>
                <th>Actions</th>
              </tr>
              <tr v-for="(layer, i) in layers">
                <td>
                  <select v-model="layer.type">
                    <option v-for="(info, type) in layersTypes" :value="type">
                      {{info.label}}
                    </option>
                    <!-- в type будут попадать ключи объекта layersTypes (biscuit, beze, curd), а содержимое этих объектов в info -->
                  </select>
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    v-model.number="layer.height"
                  />
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-danger"
                    @click="removeLayer(i)"
                  >
                    X
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <hr />
        <div class="alert alert-success price" v-show="hasLayers">
          <span class="price">{{ price }} грв.</span>
          <button type="button" class="btn btn-warning">Order now!</button>
        </div>
      </div>
    </div>

    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            layers: [
              // слои торта (сюда они будут складываться)
              { type: 'biscuit', height: 10 },
              { type: 'beze', height: 5 },
            ],
            layersTypes: {
              // описательная система торта - т.е. то, как слой переводится в цену
              biscuit: {
                price1sm: 50,
                label: 'Бисквит',
              },
              beze: {
                price1sm: 100,
                label: 'Безе',
              },
              curd: {
                price1sm: 60,
                label: 'Творожный',
              },
            },
            defaultLayer: 'biscuit', // дефолтный слой
            defaultHeight: 5, // дефолтная высота
          };
        },
        computed: {
          // если слоев нет, то торт отображать ненужно, цену рассчитывать тоже не нужно
          hasLayers() {
            return this.layers.length > 0;
          },
          // расчет цены
          price() {
            // let sum = 0;
            /*
            for (let i = 0; i < this.layers.length; i++) {
              let layer = this.layers[i]; // получаем все слои торта, добавленные пользователем
              let ltype = this.layersTypes[layer.type]; // по каждому слою находим информацию в объекте layersTypes
              console.log(layer);
              console.log(ltype);
              sum += layer.height * ltype.price1sm; // суммируем общую сумму добавленных слоев
            }
            */
            return this.layers.reduce((sum, layer) => {
              let ltype = this.layersTypes[layer.type]; // по каждому слою находим информацию в объекте layersTypes
              console.log(layer); // {type: 'biscuit', height: 5}
              console.log(sum); // 0
              return sum + layer.height * ltype.price1sm; // суммируем общую сумму добавленных слоев
            }, 0);

            // return sum;
          },
        },
        methods: {
          addLayer() {
            // добавление слоя
            this.layers.push({
              type: this.defaultLayer,
              height: this.defaultHeight,
            });
          },
          removeLayer(i) {
            // удалить один слой по индексу i
            this.layers.splice(i, 1);
          },
        },
      });
      let root = app.mount('.sample');
    </script>
  </body>
</html>
